@import '../styles/variables';
@import '../styles/mixins';

.heading {
  margin-bottom: $spacing-3xl;

  &.centered {
    text-align: center;
  }
}

.subtitle {
  color: $color-gold;
  font-size: $font-size-sm;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: $spacing-sm;
}

.title {
  font-family: $font-heading;
  font-size: $font-size-3xl;
  color: $color-charcoal;
  margin-bottom: $spacing-md;

  @include respond-to('md') {
    font-size: $font-size-4xl;
  }
}

.divider {
  width: 80px;
  height: 4px;
  background-color: $color-gold;
  border-radius: $radius-full;

  .centered & {
    margin: 0 auto;
  }
}
