@import '../styles/variables';
@import '../styles/mixins';

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: $spacing-xl;

  @include respond-to('lg') {
    grid-template-columns: repeat(2, 1fr);
  }
}
